
@{
    ViewBag.Title = "Registry";
}

<h2>Registry</h2>

@using (Html.BeginForm())
{
    <div>@Html.Label("UserName", new { @Class = "" })</div>
    <div>@Html.TextBox("UserName")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.Password("Password")</div>
    <input type="submit" value="Sign up"/>
}